html, body {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin: 0;
  margin-left: 0;
}

body {
  background-image: url(http://www.ogitix.de/fileadmin/dokumentation/ms-crm/Book_%20Microsoft%20CRM%20Schnittstelle_de_html/Files/187197/User_Add_35.jpg),
    url(http://www.ogitix.de/fileadmin/dokumentation/ms-crm/Book_%20Microsoft%20CRM%20Schnittstelle_de_html/Files/187197/User_Add_35.jpg), url(https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 120px, right 120px, center 0px;
  background-size: 30%, 30%, 100%;
}

.header {
  background: none;
  /* linear-gradient(to bottom, #A0522D, #DEB887) */
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 90px;
  margin-left: 30px;
  font-size: 50px;
  font-weight: bold;
}

.divInput {
  background: none;
  /* radial-gradient(#8b8bff, white) */
  height: 300px;
  width: 400px;
  margin: 0 auto;
  transform: translateY(10%);
  border-radius: 30px;
  /* box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); */
}

.divvorundnachname {
  margin: 0 auto;
  width: 130px;
  height: 200px;
}

.divvorname {
  font-size: 14pt;
  margin: 0 auto;
  margin-bottom: 28px;
  font-weight: bold;
}

#vorname {
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  outline: none;
}

.divnachname {
  font-size: 14pt;
  margin: 0 auto;
  font-weight: bold;
}

#nachname {
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  outline: none;
}

.divbutton {
  transform: translateX(11%);
  margin: 0 auto;
  width: 130px;
  height: 50px;
  display: block;
}

button {
  background: none;
  color: #000;
  height: 40px;
  border: 1 solid #000000;
  font-size: 14px;
  transition: 1s;
  overflow: hidden;
  box-shadow: 6px 4px 5px rgba(10, 5, 5, 0.5);
  border-radius: 30px;
  font-weight: bold;
}

button:focus {
  outline: none;
}

button:before {
  display: block;
  position: absolute;
  height: 100%;
  opacity: 0.3;
}

button:after {
  display: block;
  position: absolute;
  height: 100%;
  opacity: 0;
}

button:hover {
  background: #f8f8fb;
  cursor: pointer;
}

button:hover:before {
  opacity: 0.6;
  transition: 1s;
}

button:hover:after {
  opacity: 1;
  transition: 1s;
}
