html, body {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin: 0;
  margin-left: 0;
}

body {
  background-image: url(http://www.ogitix.de/fileadmin/dokumentation/ms-crm/Book_%20Microsoft%20CRM%20Schnittstelle_de_html/Files/187197/User_Add_35.jpg),
    url(http://www.ogitix.de/fileadmin/dokumentation/ms-crm/Book_%20Microsoft%20CRM%20Schnittstelle_de_html/Files/187197/User_Add_35.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 120px, right 120px;
  background-size: 30%;
}

.header {
  background: linear-gradient(to bottom, blue, #e6e6ff);
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-size: 30px;
}

.divInput {
  background: radial-gradient(#8b8bff, white);
  height: 300px;
  width: 400px;
  margin: 0 auto;
  transform: translateY(40%);
  border-radius: 30px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

.divvorundnachname {
  margin: 0 auto;
  width: 130px;
  height: 200px;
}

.divvorname {
  font-size: 14pt;
  margin: 0 auto;
  margin-bottom: 28px;
}

.divnachname {
  font-size: 14pt;
}

.divbutton {
  transform: translateX(11%);
  margin: 0 auto;
  width: 130px;
  height: 50px;
  display: block;
}

button {
  background: none;
  color: #000;
  height: 40px;
  border: 1 solid #000000;
  font-size: 14px;
  transition: 1s;
  overflow: hidden;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
}

button:focus {
  outline: none;
}

button:before {
  content: '';
  display: block;
  position: absolute;
  background: rbga(255, 255, 255, .5);
  height: 100%;
  opacity: 0.3s;
  filter: blur(30px);
}

button:after {
  content: '';
  display: block;
  position: absolute;
  background: rbga(255, 255, 255, .2);
  height: 100%;
  opacity: 0;
  filter: blur(30px);

}

button:hover {
  background: #f8f8fb;
  cursor: pointer;
}

button:hover:before {
  opacity: 0.6;
  transition: 1s;
}

button:hover:after {
  opacity: 1;
  transition: 1s;
}
