html, body {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin: 0;
  margin-left: 0;
}

.header {
  background: linear-gradient(to bottom, blue, #e6e6ff);
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-size: 30px;
}



button {
  background: none;
  color: #000;
  height: 40px;
  border: 1 solid #000000;
  font-size: 14px;
  transition: 1s;
  overflow: hidden;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
}

button:focus {
  outline: none;
}

button:before {

  display: block;
  position: absolute;
  background: rbga(255, 255, 255, .5);
  height: 100%;
  opacity: 0.3s;
}

button:after {
  display: block;
  position: absolute;
  background: rbga(255, 255, 255, .2);
  height: 100%;
  opacity: 0;
}

button:hover {
  background: #f8f8fb;
  cursor: pointer;
}

button:hover:before {
  opacity: 0.6;
  transition: 1s;
}

button:hover:after {
  opacity: 1;
  transition: 1s;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th,td {
 border: 1px solid #ddd;
  padding-left: 10px;
}

/* Style für Kontenkasten */

main {
    padding: 1em;
}

/* Liste der Notizen */
main > ul {
    list-style: none;
    padding: 0;
}
main > ul > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;

    padding: 1em;
    border: 1px solid rgb(155, 155, 150);
    background: rgb(219, 219, 219);
    box-shadow: 5px 4px 2px rgba(153, 147, 147, 0.5);

    min-width: 10em;
    min-height: 10em;
    max-width: 10em;
    max-height: 10em;
    position: relative;
    padding-bottom: 2.5em;
    border-radius: 10px;
}


main > ul > li > p {
    margin: 0;
}

main > ul > li > .delete {
    position: absolute;
    right: 1em;
    bottom: 1em;

    color: blue !important;
    text-decoration: underline;

    cursor: pointer;
}

main > ul > li > .delete:hover {
    color: rgb(0, 20, 25) !important;
}
