.divUeberschrift{
  margin: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.divGanzerBlock{
  background-color: #848484;
  border-radius: 10px;
  width: 70%;
  height: auto;
  margin: auto; //div zentrieren
  display: inline-block;
}
.divGanzerBlockInnen{
  padding: 10px;
}
body{
  background-color: #BDBDBD;
  font-style: normal;
  font-family: serif;
}
.spanInput{
  margin: 0px;
  width: 40%;
  display: inline-block;
  font-size: 16pt;
}

.spanAttribut{
  width: 30%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 60px;
  margin-bottom: 20px;
  vertical-align: top;
  font-size: 16pt;
}
.butErstellen{
  margin: 30px;
  text-align: center;
}
.divTAMF{
  padding-top: 0px;
  display: inline;
  width: 60%;
  background-color: red;
}
.divButton{
  margin: auto;
  text-align: center;
}
.classSelect{
  font-size: 16pt;
  font-family:serif;
}
#divButtonHinzu{
  margin-bottom: 20px;
  margin-top: -15px;
}
.butHinzu{
  margin-bottom: : 100px;
  margin-top: 10px;
}
.butErstellen {
	box-shadow: 3px 4px 0px 0px #2f4f4b;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.butErstellen:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.butErstellen:active {
	position:relative;
	top:1px;
}
/*
button {
  background: none;
  color: #000;
  height: 40px;
  border: 1 solid #000000;
  font-size: 14px;
  transition: 1s;
  overflow: hidden;
  box-shadow: 3px 2px 2px rgba(0,0,0,0.5);
}

button:focus {
  outline: none;
}

button:before {
  display: block;
  position: absolute;
  height: 100%;
  opacity: 0.3;
}

button:after {
  display: block;
  position: absolute;
  height: 100%;
  opacity: 0;
}

button:hover {
  background: #f8f8fb;
  cursor: pointer;
}

button:hover:before {
  opacity: 0.6;
  transition: 1s;
}

button:hover:after {
  opacity: 1;
  transition: 1s;
 */
